*
{
	font-family: 'Gothic A1', 돋움;
}

body
{
	margin: 0%;
}

header
{
	text-align: center;
	background-image: url('img/blur.jpg');
	background-size: cover;	
	background-color: black;
}

.logo
{
	height: 2.5em;
	padding: 1em 0 0 0;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}

.logo *
{
	display: inline;
	height: 3em;
	vertical-align: middle;
}

.logo h2
{
	color: white;
	letter-spacing: 0.3em;
}

.logo img
{
	height: 2.5em;
	width: 2.5em;
	margin-right: 1em;
}

nav ul
{
	display: inline;
}

nav ul li
{
	list-style-type: none;
	padding: 1em;
	display: inline-block;
}

nav ul li a
{
	color: white;
	text-decoration: none;
}

article
{
	padding: 1em;
}

section
{
	margin-bottom: 3em;
}

#feat_lst
{
	list-style-type: none;
}

dt
{
	font-weight: bold;
}

dd
{
	margin-left: 1em;
}

.feature
{
	padding: 0 0 1em 0;
}

footer
{
	display: block;
	height: 4em;
	background-image: url('img/blur.jpg');
	background-size: cover;	
	background-color: black;
	text-align: center;
}

footer p
{
	margin: 0;
	padding: 1em;
	color: white;
}

#download_btn a
{
	color: black;
	text-decoration: none;
}

#download_btn img
{
	float: left;
}